<form>
  <div class="form-group">
    <label for="username">Your Name</label>
    <input type="text" name = "user" class="form-control" id="username"  placeholder="Your Name" [(ngModel)]= 'user'>
  </div>
  <div class="form-group">
    <label for="cityname">City</label>
    <input type="text" name = "city" class="form-control" id="cityname" placeholder="Enter the name of City" [(ngModel)]= 'city'>
  </div>

<button type="submit" class="btn btn-primary" (click)="add()">Add to List</button><br><br>
    <button type="submit" class="btn btn-primary" (click)="save()">Search Now</button><br><br>
  <button type="submit"  class = "btn btn-primary" onclick="location.href='/auth/google'">Google+</button>
</form>
<h2>To-do List</h2>
<table>
  <thead>
  <tr>
    <th>User Name</th>
    <th>City</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let element of List ; let i = index">
    <td>
      {{element.user}}
    </td>
    <td>
      {{element.city}}
    </td>
    <td>
      <button class="btn btn-default"  type="button" (click)="delete(i)">Delete</button>
    </td>
    <td>
      <button class="btn btn-default"  type="button" (click)="saveThis(i)">Search </button>
    </td>
  </tr>

  </tbody>
</table>


